*{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:0;
}

.first-2 {
    background-color:#1F2937 ;
    padding-left:250px;
    padding-right:250px;
    padding-top: 15px;
    padding-bottom: 100px;
    
}

 header {
    display:flex;
    flex:1;
    justify-content: space-between;
    align-items: center;
}

ul{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;
}

li{
    display:inline;
}
a {
    text-decoration: none;
    padding:10px;
}

a:visited{
    color:#E5E7EB;
}

button{
    width:135px;
    height:40px;
    background-color:#3882F6 ;
    color: white;
    border-radius: 8px;
    border-color: transparent;
    font-weight: 500;
    font-size: 20px;
    flex:none;
    
}

.hlogo{
    font-size: 24px;
    color:#F9FAF8;
}

.block-1{
    padding-top:100px;
    display:flex;
    
}

.twia{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.subtext{
    font-size: 18px;
    color: #E5E7EB;
}

.bigpic{
width:750px;
height: 200px;
background-color:grey ;
display:flex;
justify-content: center;
align-items: center;
color:white;
}

.d1txt{
    order:-1;
    flex-basis:650px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}