*{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:0;
}

.first-2 {
    background-color:#1F2937 ;
    padding-left:250px;
    padding-right:250px;
    padding-top: 15px;
    padding-bottom: 100px;
    
}

 header {
    display:flex;
    flex:1;
    justify-content: space-between;
    align-items: center;
}

ul{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;
}

li{
    display:inline;
}
a {
    text-decoration: none;
    padding:10px;
}

a:visited{
    color:#E5E7EB;
}

button{
    width:135px;
    height:40px;
    background-color:#3882F6 ;
    color: white;
    border-radius: 8px;
    border-color: transparent;
    font-weight: 500;
    font-size: 20px;
    flex:none;
    
}

.hlogo{
    font-size: 24px;
    color:#F9FAF8;
}

.block-1{
    padding-top:100px;
    display:flex;
    
}

.twia{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.subtext{
    font-size: 18px;
    color: #E5E7EB;
}

.bigpic{
width:750px;
height: 200px;
background-color:lightgray ;
display:flex;
justify-content: center;
align-items: center;
color:white;
margin-left:10px;
}

.d1txt{
    order:-1;
    flex-basis:650px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.block-2{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left:250px;
    padding-right:250px;
    padding-top:30px;
    padding-bottom:100px;
}

.blue-box{
    border: 4px solid rgb(54, 72, 241);
    height: 175px;
    width:175px;
    flex:1 0 auto;
    margin:15px;
    border-radius: 15px;
}

.imgcpt{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    
}

.imgitm{
    display:flex;
    flex-flow:column wrap;
    justify-content: center;
    align-items: center;
    
}

.cap{
    width:175px;
    text-align: center;
    font-size: 18px;
    color: #E5E7EB;
    
}

.sri{
    font-size:36px;
    color:#1F2937;
    font-weight: 900;
    margin-bottom: 35px;
}

.block-3{
    background-color: #E5E7EB;
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding:250px;
    padding-top: 150px;
    padding-bottom:150px;
}

.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color:#1F2937;
    max-width: 800px;
}

.thor{
    font-weight: bold;
    align-self: flex-end;
    margin-right: 250px;
    font-size: 28px;
    margin-left: auto;
}

.block-4{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:50px;
}

.block-4-blue{
    background-color:#3882F6 ;
    display:flex;
    padding:120px;
    margin:75px;
    padding-top:50px;
    padding-bottom:50px;
    border-radius: 10px;
}

.b4b{
    align-self:center;
    border:white 2px solid;
    margin-left:125px;
   
}

.bnb{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #E5E7EB;

}

h3{
    font-size: 24px;
    color:#F9FAF8;
}

footer{
    display:flex;
    background-color:#1F2937 ;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #E5E7EB;
    padding:50px;
}